.login-form {
    width: 480px;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%,-80%,0);
    text-align: center;
}
#root {
    background: url('../components/Frame/login.jpg') no-repeat;
    background-size: 100% 100%;
}
